<!DOCTYPE html>
<html>
<head>
    <link rel=stylesheet href="~/Content/Judy.css" />
   
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
</head>
<body>
    
    <ul>
        <li>@Html.ActionLink("The .NET Shop", "Index", "Home")</li>
        <li>@Html.ActionLink("Logout", "Index", "Home")</li>
        <li>@Html.ActionLink("My Purchases", "MyPurchases", "MyPurchases")</li>
        <li>
            <a href="@Url.Action("ViewCart", "ViewCart")" title="View Cart" class="links">
                <img alt="View Cart" src="@Url.Content("~/Images/shopping_cart_PNG4.png")" height="25">
            </a>
        </li>
    </ul>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - The .NET Shop</p>
        </footer>
    </div>

</body>
</html>
