

<script type="text/javascript">

    $(document).ready(function () {
        $("#ajaxcall").click(function(){
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddtoCart", "Gallery")',
                //contentType: "application/json; charset=utf-8",
                data: { a: "testing" },
                dataType: "json",
                success: function () { alert('Success'); },
                error: function () {
                    alert('error')
                }
            });
        });
    });

    function addtocart(event) {
        //var val = parseInt(document.getElementById("qty").value,10)
        alert("one item added to cart")
        //document.getElementById("quantity").value = val + 1
    }
    function removefromcart(event) {

        //var product_id = event.target.id
        //alert(`you clicked ${product_id}`)
        //var val = parseInt(document.getElementById("qty").value, 10)
        alert("one item removed to cart")
        //document.getElementById("quantity").value = val - 1
    }
</script>
@{
    ViewBag.Title = "Search";
}

@model S_cart.Models.product
@using S_cart.Models;
@{
    string u1 = (string)ViewData["user"];
    int userid = (int)ViewData["uid"];
    int cart_count = (int)ViewData["count"];
}

@Html.Partial("_greeting", u1)

@{
   
    using (Html.BeginForm("Search", "Gallery", FormMethod.Post))
    {
        <table align="right">
            <tr>
                <td>
                    @Html.TextBox("searchqueery")
                    <input type="submit" , value="Search Products" />
                    <input type="hidden" id="uid" name="uid" value="@userid">
                    <input type="hidden" id="count" name="count" value="@cart_count">
                </td>
            </tr>
        </table>
        <br />
    }
    
    foreach (product item in ViewBag.list)
    {
        <div class="productlist">
            <div class="productimage"> <img src="@item.url" height="200" width="200" /></div>

            <div class="formdescription">
                <span><input type="hidden" name="productid" value="@item.product_id" /><br /></span>
                <span><input type="text" name="productname" value="@item.name" /><br /></span>
                <span><textarea name="productdescription" rows="2" wrap="soft" cols="65" value="@item.description">@item.description</textarea><br /><br /></span>
                <span>$<input type="text" name="productprice" value="@item.price" /></span><br />
                <span>
                   <input type="button" value="ADD" onclick="addtocart(event);location.href='@Url.Action("rtc", "Gallery",new { p_id = @item.product_id,u_id = userid })'" id="@item.product_id" />
                   <input type="button" value="REMOVE" onclick="removefromcart();location.href='@Url.Action("rtc_remove", "Gallery",new { p_id = @item.product_id,u_id = userid })'" />
                </span><br />
                <span>
                    
                </span><br />
            </div>
        </div>
    }   
}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

        .grid-container > div {
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;
            padding: 10px 0;
            font-size: 5px;
        }
</style>














